!!!
%hmtl
  %head
    / = stylesheet_link_tag    'mesin/application', media: 'all'
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Tokopung", root_url, class: "navbar-brand navbar-link", target: "_blank"
    .container
      .row
        = yield
