- current_user.emails.each_with_index do |email, index|
  .row
    - # email
    .col-lg-6.col-md-7.col-sm-7.col-xs-7
      %span.label.label-default
        = email.email

    - # status
    .col-lg-3.col-md-4.col-sm-4.col-xs-4
      - if email.status.eql? "primary"
        %span.label.label-success.label-email
          = email.status.capitalize
      
      - else
        %span.label.label-warning.label-email
          = email.status.capitalize
      

    - # btn delete
    .col-lg-1.col-md-1.col-sm-1.col-xs-1
      %span.fa.fa-trash.text-danger.delete-email{title: "Delete this email", data: {toggle: "tooltip", placement: "top", container: "body", email_id: email.id}}
